<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: rgb(249, 246, 242)">
    <div
      style="
        background-color: rgb(151, 173, 200);
        padding: 30px;
        margin: 5cm;
        border-radius: 10px;
      "
    >
      <div style="padding: 50px">
        <form style="padding-left: 8cm" action="/ViewDetails" method="post">
          <label for="password"><h2>Password :</h2> </label> 
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
          <br /> <br>
          <div style="margin-left:40px">
            <button style="border-radius:50px" id="viewButton" type="submit">View Details</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
